# Maven applicaton
target/
.classpath
.project
.settings/
*.iml
*.iws
*.ipr
*.log
*.bak
*.swp
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
*.ser
*.sh
*.bat
*.cmd
*.pom
*.metadata
*.rej
*.releaseBackup
*.svg
*.dll
*.so
*.dylib
*.tfstate
*.tfstate.backup
*.hprof
*.lastUpdated
*.releaseBackup
*.factorypath
*.jks
*.keystore
*.policy
*.access
*.pf
*.iml
*.iws
*.ipr
*.log
*.bak
*.swp
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
*.ser
*.sh
*.bat
*.cmd
*.pom
*.metadata
*.rej
*.releaseBackup
*.svg
*.dll
*.so
*.dylib
*.tfstate
*.tfstate.backup
*.hprof
*.lastUpdated
*.releaseBackup
*.factorypath
*.jks
*.keystore
*.policy
*.access
*.pf
